.back-im {
    background-image: url("./images/main_image.jpg")!important;
    background-repeat: no-repeat;
  background-size: cover;
}

.back-roboarm-im {
  background-image: url("./images/3dmodel1.png")!important;
  background-repeat: no-repeat;
background-size: cover;
}

.album-custom {
    background: hsla(0, 0%, 100%, 0.15) !important;
    backdrop-filter: blur(30px);
}

.card-text-custom {
  color: white;
}

.card-text-custom-orange {
  color: rgb(255, 177, 158);
}