.back-im {
    background-image: url("./images/main_image.jpg")!important;
    background-repeat: no-repeat;
  background-size: cover;
}

.back-roboarm-im {
  background-repeat: no-repeat;
background-size: cover;
}

.album-custom {
    background: hsla(0, 0%, 100%, 0.15) !important;
    backdrop-filter: blur(30px);
}

.card-text-custom {
  color: white;
}

.card-text-custom-orange {
  color: rgb(255, 177, 158);
}

.card-text-start {
  color: white;
  vertical-align: middle;
  text-align: center;
}

.doc-text{
  color: white;
}

.doc-text-bold{
  color: white;
  font-weight: bold
}

.doc-text-red{
  color: rgb(255, 167, 132);
}

.drop-shadow{
  box-shadow: 0px 7px 5px #888888;
  z-index:999;
}

h5 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}